# Entendimento dos dados

Este notebook tem a finalidade de proporcionar um maior entendimento a cerca dos dados disponibilizados.

* Para todas as bases serão realizadas as seguintes análises/operações:
    - Leitura do dataset
    - Informações a respeito das colunas
    - Quantidade de registros
    - Quantidade de valores faltantes
    - Separação de variáveis 


**Sumário**
1. Importação das bibliotecas
2. base_cadastral.csv
3. base_info.csv
4. base_pagamentos_desenvolvimento.csv

---

### 1. Importação das bibliotecas

**Bibliotecas utilizadas:**
- pandas: Manipulação de tabelas
- numpy: Manipulação numérica
- warnings: Evitar avisos indesejados

In [47]:
import pandas as pd
import numpy as np

from warnings import filterwarnings

# Ignorar avisos
filterwarnings('ignore')

# Configs pandas
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)

# Caminho base para as tabelas
base_path = '../data/'

---

### 2. base_cadastral.csv

**2.1 Leitura do dataset**

In [36]:
base_cadastral_path = base_path + 'base_cadastral.csv'

base_cadastral = pd.read_csv(base_cadastral_path, sep=';')

base_cadastral.head()

,ID_CLIENTE,DATA_CADASTRO,DDD,FLAG_PF,SEGMENTO_INDUSTRIAL,DOMINIO_EMAIL,PORTE,CEP_2_DIG
0,1661240395903230676,2013-08-22,99,NaN,Serviços,YAHOO,PEQUENO,65
1,8274986328479596038,2017-01-25,31,NaN,Comércio,YAHOO,MEDIO,77
2,345447888460137901,2000-08-15,75,NaN,Serviços,HOTMAIL,PEQUENO,48
3,1003144834589372198,2017-08-06,49,NaN,Serviços,OUTLOOK,PEQUENO,89
4,324916756972236008,2011-02-14,88,NaN,Serviços,GMAIL,GRANDE,62

**2.2 Informações a respeito das colunas**

In [37]:
base_cadastral.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1315 entries, 0 to 1314
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_CLIENTE           1315 non-null   int64
 1   DATA_CADASTRO        1315 non-null   object
 2   DDD                  1078 non-null   object
 3   FLAG_PF              66 non-null     object
 4   SEGMENTO_INDUSTRIAL  1232 non-null   object
 5   DOMINIO_EMAIL        1285 non-null   object
 6   PORTE                1274 non-null   object
 7   CEP_2_DIG            1315 non-null   object
dtypes: int64(1), object(7)
memory usage: 82.3+ KB

Percebemos já a falta de alguns valores em algumas colunas presente neste Dataset, como: DDD, FLAG_PF, SEGMENTO INDUSTRIAL, DOMINIO_EMAIL e PORTE.

In [51]:
for col in base_cadastral.columns:
    print(f"\nColuna: {col}")
    print(base_cadastral[col].nunique())
    if col != "ID_CLIENTE":
        print(base_cadastral[col].unique())

Coluna: ID_CLIENTE
1315

Coluna: DATA_CADASTRO
777
['2013-08-22' '2017-01-25' '2000-08-15' '2017-08-06' '2011-02-14'
 '2018-03-27' '2009-08-30' '2014-06-23' '2001-05-31' '2016-02-24'
 '2006-07-18' '2016-08-14' '2006-09-11' '2012-05-29' '2014-03-02'
 '2017-03-09' '2015-11-23' '2012-03-11' '2003-06-03' '2016-11-29'
 '2017-08-09' '2013-07-29' '2015-11-25' '2002-01-24' '2017-10-19'
 '2014-03-13' '2007-06-17' '2011-02-15' '2012-08-27' '2014-08-14'
 '2015-03-02' '2015-12-29' '2015-09-14' '2005-11-24' '2014-08-07'
 '2012-12-13' '2015-12-08' '2007-02-05' '2011-12-22' '2015-02-27'
 '2016-10-30' '2008-06-03' '2007-07-31' '2009-08-18' '2014-07-22'
 '2010-08-04' '2009-03-30' '2007-10-17' '2007-03-19' '2013-10-21'
 '2016-10-04' '2015-04-01' '2014-02-06' '2011-07-13' '2009-08-02'
 '2015-11-24' '2012-12-06' '2011-05-16' '2008-05-22' '2017-02-21'
 '2015-06-23' '2018-03-20' '2014-07-23' '2011-05-19' '2018-03-21'
 '2013-05-05' '2012-03-26' '2014-08-21' '2016-11-22' '2006-12-18'
 '2017-09-20' '2006-08-01' '2016-08-07' '2014-03-31' '2015-08-16'
 '2017-08-03' '2016-10-18' '2014-07-20' '2013-06-16' '2018-07-25'
 '2006-07-26' '2006-07-09' '2014-06-02' '2009-06-11' '2011-11-15'
 '2014-09-18' '2017-05-22' '2015-07-21' '2016-01-31' '2015-11-15'
 '2014-09-16' '2017-07-02' '2005-08-08' '2016-01-11' '2009-04-28'
 '2014-02-02' '2013-10-31' '2014-12-22' '2012-10-01' '2006-08-06'
 '2015-08-09' '2014-10-21' '2016-12-11' '2008-12-09' '2016-02-23'
 '2011-12-04' '2018-03-28' '2013-11-26' '2004-06-01' '2015-03-19'
 '2008-09-11' '2007-05-02' '2013-04-17' '2012-05-08' '2017-11-26'
 '2012-05-21' '2015-11-12' '2016-03-09' '2005-08-03' '2014-11-03'
 '2006-01-09' '2015-04-26' '2011-05-23' '2009-09-29' '2017-12-10'
 '2015-02-12' '2015-11-05' '2007-06-10' '2014-12-02' '2009-11-22'
 '2013-07-09' '2006-09-26' '2012-04-26' '2017-04-17' '2012-03-15'
 '2016-08-11' '2017-07-11' '2017-07-05' '2009-10-15' '2009-08-12'
 '2004-12-06' '2018-06-05' '2009-04-01' '2011-09-27' '2013-10-03'
 '2015-02-19' '2015-03-03' '2014-11-10' '2006-02-22' '2014-10-15'
 '2016-09-15' '2014-04-27' '2017-09-27' '2008-07-21' '2013-09-26'
 '2013-11-18' '2009-01-11' '2018-01-07' '2018-05-13' '2013-09-18'
 '2012-05-06' '2017-02-07' '2018-02-14' '2016-06-08' '2016-07-28'
 '2013-09-22' '2006-08-02' '2008-09-25' '2017-09-11' '2011-05-30'
 '2008-08-11' '2014-10-23' '2012-06-04' '2008-07-28' '2014-03-27'
 '2014-01-13' '2007-11-05' '2013-06-10' '2015-10-15' '2012-10-15'
 '2015-08-20' '2009-01-04' '2006-03-01' '2012-01-23' '2007-05-30'
 '2013-09-02' '2015-01-22' '2017-02-05' '2009-02-09' '2015-06-09'
 '2011-04-05' '2018-01-28' '2012-07-18' '2011-08-04' '2014-07-16'
 '2014-03-26' '2007-03-08' '2013-04-23' '2017-11-07' '2018-02-28'
 '2015-05-20' '2017-11-06' '2010-11-23' '2017-10-24' '2016-12-25'
 '2013-06-23' '2018-05-17' '2014-02-19' '2007-04-19' '2015-06-10'
 '2015-12-17' '2017-08-17' '2015-10-26' '2015-05-17' '2015-07-20'
 '2013-04-18' '2015-07-13' '2018-06-24' '2017-06-25' '2013-09-17'
 '2014-03-24' '2014-01-05' '2016-09-05' '2018-07-01' '2018-03-14'
 '2013-07-22' '2014-11-26' '2015-11-08' '2015-07-28' '2018-05-09'
 '2013-10-24' '2013-12-09' '2014-06-08' '2018-01-16' '2014-07-03'
 '2004-08-29' '2014-04-06' '2013-11-25' '2016-10-25' '2012-10-31'
 '2011-12-20' '2013-01-16' '2017-04-24' '2018-01-29' '2005-02-15'
 '2016-11-27' '2017-05-17' '2009-04-21' '2016-09-27' '2013-01-31'
 '2014-03-19' '2016-09-28' '2011-10-23' '2007-05-06' '2018-06-21'
 '2007-09-05' '2015-02-08' '2013-11-07' '2017-05-28' '2018-03-25'
 '2005-05-05' '2001-02-04' '2017-07-30' '2018-02-19' '2017-07-03'
 '2018-05-23' '2005-04-27' '2018-01-30' '2013-11-24' '2017-10-08'
 '2002-08-19' '2003-10-29' '2012-08-16' '2016-07-04' '2004-08-25'
 '2018-02-21' '2018-05-10' '2015-01-11' '2018-02-04' '2011-01-12'
 '2014-01-22' '2016-06-29' '2016-12-01' '2016-01-21' '2018-08-24'
 '2008-04-17' '2011-07-20' '2014-05-04' '2017-01-19' '2017-07-23'
 '2014-04-13' '2015-04-05' '2017-05-29' '2014-08-17' '2015-12-20'
 '2014-09-10' '2005-04-12' '2013-07-14' '2014-06-11' '2013-09-16'
 '2016-02-22' '2016-05-04' '2009-07-08' '2014-08-25' '2017-10-16'
 '2011-08-17' '2006-09-20' '2015-10-28' '2012-08-26' '2012-01-22'
 '2018-07-04' '2011-01-30' '2015-12-13' '2017-04-10' '2015-12-03'
 '2007-07-25' '2016-03-03' '2011-11-17' '2011-10-02' '2014-03-30'
 '2006-04-19' '2015-09-20' '2015-08-31' '2018-07-31' '2018-01-14'
 '2018-01-09' '2013-03-17' '2018-08-22' '2018-10-28' '2018-01-25'
 '2018-03-06' '2007-04-18' '2016-01-05' '2008-06-09' '2018-09-26'
 '2018-04-17' '2018-10-25' '2016-01-19' '2012-09-30' '2018-06-04'
 '2012-07-01' '2014-07-29' '2018-06-13' '2017-10-05' '2009-12-07'
 '2015-10-06' '2007-01-16' '2017-08-21' '2015-09-07' '2015-05-11'
 '2018-08-05' '2017-06-20' '2011-02-23' '2016-06-16' '2014-03-11'
 '2011-11-10' '2016-11-20' '2006-09-14' '2018-03-07' '2015-01-25'
 '2004-06-23' '2018-11-05' '2006-06-06' '2014-11-16' '2011-11-07'
 '2015-05-05' '2003-10-12' '2017-10-30' '2018-11-29' '2002-06-11'
 '2018-05-02' '2016-12-12' '2018-04-11' '2018-09-30' '2018-04-02'
 '2016-05-10' '2016-02-16' '2012-04-10' '2011-06-13' '2004-01-28'
 '2015-08-10' '2016-01-26' '2007-06-11' '2018-09-19' '2016-02-03'
 '2006-01-01' '2018-12-13' '2014-03-16' '2014-07-31' '2014-01-19'
 '2016-08-01' '2017-10-25' '2018-09-20' '2018-04-29' '2017-06-08'
 '2018-12-10' '2019-01-03' '2006-11-07' '2018-12-05' '2018-01-08'
 '2014-09-29' '2014-11-17' '2018-08-30' '2016-12-21' '2016-03-15'
 '2010-07-26' '2013-06-25' '2018-07-29' '2015-09-13' '2019-02-18'
 '2016-12-27' '2016-08-16' '2012-05-15' '2013-12-26' '2015-12-10'
 '2019-02-20' '2013-04-16' '2006-10-24' '2018-12-23' '2019-02-26'
 '2018-11-07' '2011-12-25' '2018-07-12' '2017-08-02' '2012-09-23'
 '2019-01-31' '2012-04-19' '2019-03-13' '2019-03-21' '2016-07-26'
 '2018-09-05' '2018-03-13' '2011-09-29' '2018-05-06' '2018-11-13'
 '2008-04-14' '2014-09-15' '2019-01-27' '2017-06-01' '2019-03-12'
 '2016-06-27' '2006-04-23' '2019-03-14' '2014-08-11' '2016-04-19'
 '2006-06-28' '2018-10-03' '2013-09-05' '2019-04-14' '2019-03-18'
 '2003-08-14' '2018-08-26' '2019-06-02' '2019-05-28' '2019-05-29'
 '2019-01-21' '2017-06-04' '2019-05-14' '2017-06-27' '2018-04-08'
 '2019-06-25' '2018-11-04' '2015-05-10' '2016-12-18' '2019-03-27'
 '2018-06-14' '2019-02-25' '2008-05-07' '2019-05-13' '2019-02-19'
 '2019-02-07' '2018-06-26' '2017-07-06' '2014-02-25' '2011-12-07'
 '2016-06-23' '2017-01-11' '2019-08-01' '2015-12-02' '2013-06-17'
 '2019-05-16' '2019-03-28' '2015-05-28' '2009-09-21' '2010-03-29'
 '2011-08-23' '2019-07-09' '2019-05-27' '2019-09-02' '2019-08-11'
 '2019-07-01' '2019-02-10' '2019-03-31' '2019-06-09' '2019-06-30'
 '2019-05-08' '2016-05-18' '2008-05-04' '2019-08-27' '2019-08-28'
 '2017-05-18' '2019-10-03' '2014-06-25' '2019-10-22' '2019-10-24'
 '2019-09-29' '2019-08-29' '2019-09-09' '2019-10-20' '2016-05-17'
 '2019-09-25' '2019-09-30' '2017-03-08' '2003-05-06' '2019-07-17'
 '2019-11-24' '2019-09-15' '2019-10-14' '2017-07-09' '2014-11-05'
 '2007-09-19' '2019-10-07' '2016-06-05' '2019-10-06' '2017-10-23'
 '2015-10-05' '2016-02-02' '2014-01-08' '2018-06-06' '2015-11-10'
 '2006-05-03' '2018-04-04' '2019-04-25' '2019-12-12' '2020-01-07'
 '2019-12-25' '2004-03-04' '2020-01-12' '2020-01-16' '2016-06-06'
 '2019-12-02' '2016-05-11' '2019-06-20' '2020-02-12' '2014-02-09'
 '2019-11-12' '2019-09-20' '2016-04-27' '2020-02-17' '2019-04-24'
 '2020-03-24' '2020-03-30' '2012-04-02' '2020-01-26' '2020-03-02'
 '2016-02-15' '2018-08-08' '2019-11-03' '2020-02-06' '2019-10-29'
 '2020-03-03' '2020-04-28' '2014-05-18' '2019-08-19' '2016-12-28'
 '2017-02-01' '2013-05-09' '2009-05-05' '2018-10-01' '2014-04-07'
 '2019-12-26' '2011-07-28' '2020-01-02' '2020-04-02' '2020-01-19'
 '2020-05-10' '2020-02-04' '2020-06-08' '2007-05-21' '2020-06-23'
 '2020-05-07' '2017-07-19' '2020-06-18' '2016-07-20' '2020-05-27'
 '2020-05-13' '2006-08-08' '2020-07-07' '2019-03-06' '2019-06-17'
 '2020-06-22' '2019-10-15' '2018-12-03' '2019-11-06' '2019-11-20'
 '2018-11-26' '2020-07-21' '2019-12-08' '2020-07-13' '2020-06-28'
 '2006-07-10' '2019-10-30' '2020-06-29' '2020-02-05' '2020-08-06'
 '2019-03-20' '2020-05-04' '2020-08-09' '2019-05-01' '2018-04-16'
 '2020-06-04' '2020-06-02' '2019-07-28' '2012-09-27' '2004-08-23'
 '2020-06-30' '2020-07-12' '2019-12-11' '2020-01-21' '2010-05-03'
 '2020-07-20' '2020-03-09' '2020-07-26' '2018-08-21' '2020-04-05'
 '2018-10-21' '2020-09-20' '2017-01-04' '2017-12-27' '2017-09-07'
 '2019-10-28' '2015-09-27' '2018-04-15' '2020-10-04' '2016-07-25'
 '2019-11-26' '2020-06-14' '2018-11-25' '2002-07-01' '2020-08-30'
 '2020-08-20' '2008-06-16' '2020-09-21' '2014-06-29' '2019-11-28'
 '2014-10-07' '2014-10-16' '2019-09-18' '2020-11-02' '2019-12-15'
 '2019-01-14' '2020-10-18' '2020-01-27' '2019-10-02' '2014-02-04'
 '2019-03-19' '2015-04-15' '2020-11-05' '2020-11-18' '2012-08-28'
 '2020-09-15' '2020-09-30' '2020-12-29' '2004-05-04' '2020-12-03'
 '2019-09-03' '2020-01-22' '2017-04-27' '2019-01-20' '2020-12-14'
 '2021-01-18' '2015-09-02' '2020-10-28' '2021-01-24' '2021-01-12'
 '2020-10-05' '2020-11-17' '2021-02-03' '2020-09-10' '2020-08-03'
 '2013-12-03' '2021-01-19' '2009-12-28' '2020-07-09' '2020-11-19'
 '2015-11-11' '2021-02-22' '2004-10-27' '2020-09-02' '2020-03-29'
 '2020-12-01' '2021-02-14' '2019-07-07' '2020-10-20' '2020-12-06'
 '2021-01-17' '2020-02-27' '2017-09-14' '2020-07-01' '2021-03-29'
 '2021-02-09' '2002-06-16' '2021-04-12' '2021-01-21' '2021-03-18'
 '2021-02-17' '2019-06-06' '2020-08-05' '2021-04-13' '2021-03-21'
 '2021-05-13' '2021-04-22' '2004-09-23' '2021-04-05' '2021-02-04'
 '2021-04-29' '2020-11-10' '2021-05-18' '2021-03-28' '2009-01-29'
 '2021-05-10' '2021-06-08' '2021-03-07' '2021-06-01' '2021-05-16'
 '2021-04-08' '2019-07-02' '2019-12-30' '2021-05-06' '2021-05-24'
 '2021-06-23' '2021-05-05' '2015-04-21' '2021-05-12' '2021-03-11'
 '2021-06-28' '2021-07-15' '2008-03-31' '2021-06-17' '2021-07-18'
 '2021-06-14' '2020-08-10' '2021-07-06' '2021-05-03' '2020-10-27'
 '2021-04-14' '2016-07-31' '2021-07-05' '2021-07-14' '2008-06-18'
 '2021-03-24' '2017-07-10' '2020-10-26' '2009-12-02' '2021-07-12'
 '2021-06-20' '2021-07-11' '2004-08-13' '2021-02-10' '2020-10-19'
 '2016-06-20' '2021-06-24' '2017-11-29' '2011-01-31' '2020-07-27'
 '2020-04-12' '2021-06-30' '2017-02-28' '2021-06-10' '2019-02-13'
 '2006-07-16' '2021-05-23' '2019-02-27' '2019-02-17' '2020-08-13'
 '2020-11-03' '2002-05-14']

Coluna: DDD
79
['99' '31' '75' '49' '88' '18' '67' '21' '11' '44' nan '19' '14' '16' '85'
 '41' '51' '12' '62' '43' '91' '42' '61' '33' '48' '71' '65' '38' '24'
 '(3' '47' '28' '(2' '81' '35' '13' '86' '94' '45' '17' '55' '64' '69'
 '32' '(6' '27' '66' '63' '46' '(1' '54' '77' '34' '74' '37' '53' '56'
 '95' '22' '73' '(9' '(4' '52' '87' '98' '(8' '92' '82' '79' '93' '83'
 '00' '(5' '15' '02' '84' '(0' '04' '07' '(7']

Coluna: FLAG_PF
2
[0 1]

Coluna: SEGMENTO_INDUSTRIAL
3
['Serviços' 'Comércio' 'Indústria' nan]

Coluna: DOMINIO_EMAIL
6
['YAHOO' 'HOTMAIL' 'OUTLOOK' 'GMAIL' 'BOL' 'AOL' nan]

Coluna: PORTE
3
['PEQUENO' 'MEDIO' 'GRANDE' nan]

Coluna: CEP_2_DIG
90
['65' '77' '48' '89' '62' '19' '38' '26' '55' '87' '37' '22' '13' '18'
 '21' '98' '14' '60' '82' '92' '79' '12' '27' '76' '67' '72' '68' '11'
 '84' '70' '83' '88' '75' '36' '45' '44' '16' '42' '78' '31' '41' '35'
 '51' '30' '86' '25' '29' '17' '23' '20' '93' '64' '95' '85' '15' '99'
 '80' '24' '61' '90' '50' '96' '97' '57' '46' '47' '32' '54' '91' '56'
 '28' '71' '33' '94' '58' '34' '59' '69' '74' '40' '49' '43' '66' '39'
 '73' '81' '53' '52' '63' 'na']

Percebemos que pelo menos a nível a de ID, não há duplicidade de informações.

Além disso, podemos já alterar o valor de **FLAG_PF** que diz respeito a juridicidade do cliente. Alteraremos de "X" para 1 e os NaNs para 0. Esse passo tem como finalidade de simplificar a análise e evitar que erros de conversão possam ocorre no futuro.

Outra mudança a ser realizada, será a conversão de DATA_CADASTRO do tipo "object" para "datetime"

In [39]:
base_cadastral['FLAG_PF'].fillna(0, inplace=True)
base_cadastral.loc[base_cadastral['FLAG_PF'] == 'X', 'FLAG_PF'] = 1

base_cadastral['FLAG_PF'].unique()

array([0, 1], dtype=object)

In [62]:
base_cadastral['DATA_CADASTRO'] = pd.to_datetime(base_cadastral['DATA_CADASTRO'])

In [63]:
base_cadastral.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1315 entries, 0 to 1314
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID_CLIENTE           1315 non-null   int64
 1   DATA_CADASTRO        1315 non-null   datetime64[ns]
 2   DDD                  1078 non-null   object
 3   FLAG_PF              1315 non-null   object
 4   SEGMENTO_INDUSTRIAL  1232 non-null   object
 5   DOMINIO_EMAIL        1285 non-null   object
 6   PORTE                1274 non-null   object
 7   CEP_2_DIG            1315 non-null   object
dtypes: datetime64[ns](1), int64(1), object(6)
memory usage: 82.3+ KB

**2.3 Quantidade de registros**

In [40]:
lin, cols = base_cadastral.shape

print(f'O dataset possui {lin} linhas e {cols} colunas')

O dataset possui 1315 linhas e 8 colunas

**2.4 Quantidade de registros faltantes**

In [46]:
print(base_cadastral.isna().sum())

print('-' * 100)

print((base_cadastral.isna().mean() * 100).sort_values(ascending=False))

ID_CLIENTE               0
DATA_CADASTRO            0
DDD                    237
FLAG_PF                  0
SEGMENTO_INDUSTRIAL     83
DOMINIO_EMAIL           30
PORTE                   41
CEP_2_DIG                0
dtype: int64
----------------------------------------------------------------------------------------------------
DDD                    18.022814
SEGMENTO_INDUSTRIAL     6.311787
PORTE                   3.117871
DOMINIO_EMAIL           2.281369
FLAG_PF                 0.000000
DATA_CADASTRO           0.000000
ID_CLIENTE              0.000000
CEP_2_DIG               0.000000
dtype: float64

**2.5 Separação de variáveis**

- Numéricas: -
- Categóricas: DDD, FLAG_PF, SEGMENTO_INDUSTRIAL, DOMINIO_EMAIL, PORTE, CEP_2_DIG
- Temporais: DATA_CADASTRO

---

### 3. base_info.csv

**3.1 Leitura do dataset**

In [49]:
base_info_path = base_path + 'base_info.csv'

base_info = pd.read_csv(base_info_path, sep=';')

base_info.head()

            ID_CLIENTE SAFRA_REF  RENDA_MES_ANTERIOR  NO_FUNCIONARIOS
0  1661240395903230676   2018-09             16913.0              NaN
1  8274986328479596038   2018-09            106430.0            141.0
2   345447888460137901   2018-09            707439.0             99.0
3  1003144834589372198   2018-09            239659.0             96.0
4   324916756972236008   2018-09            203123.0            103.0

**3.2 Informações sobre as colunas**

In [52]:
base_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24401 entries, 0 to 24400
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID_CLIENTE          24401 non-null  int64
 1   SAFRA_REF           24401 non-null  object
 2   RENDA_MES_ANTERIOR  23684 non-null  float64
 3   NO_FUNCIONARIOS     23149 non-null  float64
dtypes: float64(2), int64(1), object(1)
memory usage: 762.7+ KB

Percebemos a ausência de valores nas colunas RENDA_MES_ANTERIOR e NO_FUNCIONARIOS.

Além disso, podemos converter SAFRA_REF para datetime também.

In [56]:
for col in base_info.columns:
    print(f"\nColuna: {col}")
    print(base_info[col].nunique())
    if col != "ID_CLIENTE":
        print(base_info[col].unique())

Coluna: ID_CLIENTE
1336

Coluna: SAFRA_REF
40
['2018-09' '2018-10' '2018-11' '2018-12' '2019-01' '2019-02' '2019-03'
 '2019-04' '2019-05' '2019-06' '2019-07' '2019-08' '2019-09' '2019-10'
 '2019-11' '2019-12' '2020-01' '2020-02' '2020-03' '2020-04' '2020-05'
 '2020-06' '2020-07' '2020-08' '2020-09' '2020-10' '2020-11' '2020-12'
 '2021-01' '2021-02' '2021-03' '2021-04' '2021-05' '2021-06' '2021-07'
 '2021-08' '2021-09' '2021-10' '2021-11' '2021-12']

Coluna: RENDA_MES_ANTERIOR
23196
[ 16913. 106430. 707439. ... 292698. 106180. 338952.]

Coluna: NO_FUNCIONARIOS
128
[ nan 141.  99.  96. 103. 120.  79.  72. 101. 137. 105.  82. 107. 153.
  97. 115.  84. 128. 100. 123. 121. 106. 116.  95. 109.  89. 104. 125.
  90. 131. 102. 118. 122. 114.  83.  98.  85. 150. 144. 112.  92.  80.
  94. 119. 111. 126. 110.  71.  78. 127. 132. 108.  93. 113.  86. 138.
  87.  81.  75. 139. 129.  88. 117.  60. 133. 130. 135.  77. 134.  73.
  91. 143. 136.  74.   0.  62. 149. 145. 152.  76. 146. 156. 124. 148.
 140.  70.  61. 154. 142.  66.  67. 147. 158.  69. 157. 155. 165. 161.
 162. 151. 159. 169. 160. 163.  65.  68. 180.  63.  64. 168. 164. 167.
 170. 171. 176. 178. 177. 166. 172. 173. 175. 179. 187. 174. 181. 182.
 198. 186. 185.]

In [ ]:
base_info['SAFRA_REF'] = pd.to_datetime(base_info['SAFRA_REF'])

In [57]:
base_info.describe()

         ID_CLIENTE  RENDA_MES_ANTERIOR  NO_FUNCIONARIOS
count  2.440100e+04        2.368400e+04     23149.000000
mean   4.668214e+18        2.887514e+05       117.799646
std    2.669294e+18        2.115948e+05        21.464574
min    8.784237e+15        1.050000e+02         0.000000
25%    2.347029e+18        1.338662e+05       106.000000
50%    4.795153e+18        2.409985e+05       118.000000
75%    7.061869e+18        3.925018e+05       131.000000
max    9.206031e+18        1.682759e+06       198.000000

**3.3 Quantidade de registros**

In [58]:
lin, col = base_info.shape

print(f'O dataset tem {lin} linhas e {col} colunas.')

O dataset tem 24401 linhas e 4 colunas.

**3.4 Quantidade de registros faltantes**

In [61]:
print(base_info.isna().sum())

print('-' * 100)

print((base_info.isna().mean() * 100).sort_values(ascending=False))

ID_CLIENTE               0
SAFRA_REF                0
RENDA_MES_ANTERIOR     717
NO_FUNCIONARIOS       1252
dtype: int64
----------------------------------------------------------------------------------------------------
NO_FUNCIONARIOS       5.130937
RENDA_MES_ANTERIOR    2.938404
SAFRA_REF             0.000000
ID_CLIENTE            0.000000
dtype: float64

Observamos novamente a presença dos valores faltantes, entretanto, com um pouco mais de precisão em relação a contagem/proporção. Por hora, manteremos estes valores, visto que, ainda não temos real dimensão da sua capacidade previsiva do futuro target a ser construído.

**3.5 Separação de variáveis**

- Numéricas: RENDA_MES_ANTERIOR, NO_FUNCIONARIOS
- Categóricas: -
- Temporais: SAFRA_REF

---

### 4. base_pagamentos_desenvolvimento.csv

**4.1 Leitura do dataset**

In [64]:
base_pag_path = base_path + 'base_pagamentos_desenvolvimento.csv'

base_pag = pd.read_csv(base_pag_path, sep=';')

base_pag.head()

,ID_CLIENTE,SAFRA_REF,DATA_EMISSAO_DOCUMENTO,DATA_PAGAMENTO,DATA_VENCIMENTO,VALOR_A_PAGAR,TAXA
0,1661240395903230676,2018-08,2018-08-17,2018-09-06,2018-09-06,35516.41,6.99
1,1661240395903230676,2018-08,2018-08-19,2018-09-11,2018-09-10,17758.21,6.99
2,1661240395903230676,2018-08,2018-08-26,2018-09-18,2018-09-17,17431.96,6.99
3,1661240395903230676,2018-08,2018-08-30,2018-10-11,2018-10-05,1341.00,6.99
4,1661240395903230676,2018-08,2018-08-31,2018-09-20,2018-09-20,21309.85,6.99

**4.2 Informações sobre as colunas**

In [65]:
base_pag.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77414 entries, 0 to 77413
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID_CLIENTE              77414 non-null  int64
 1   SAFRA_REF               77414 non-null  object
 2   DATA_EMISSAO_DOCUMENTO  77414 non-null  object
 3   DATA_PAGAMENTO          77414 non-null  object
 4   DATA_VENCIMENTO         77414 non-null  object
 5   VALOR_A_PAGAR           76244 non-null  float64
 6   TAXA                    77414 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 4.1+ MB

In [66]:
base_pag.describe()

         ID_CLIENTE  VALOR_A_PAGAR          TAXA
count  7.741400e+04   7.624400e+04  77414.000000
mean   4.662270e+18   4.659078e+04      6.789623
std    2.665719e+18   4.643393e+04      1.798225
min    8.784237e+15   1.000000e-01      4.990000
25%    2.369365e+18   1.876536e+04      5.990000
50%    4.817817e+18   3.475869e+04      5.990000
75%    6.969349e+18   6.093384e+04      6.990000
max    9.206031e+18   4.400000e+06     11.990000

Percebemos a presença de valores faltantes na coluna VALOR_A_PAGAR. 

Além disso, com o intuito de seguir o padrão e garantir uma melhor separação das variáveis, transformaremos as colunas que dizem respeito a data para "datetime".

In [71]:
datetime_cols = ['SAFRA_REF', 'DATA_EMISSAO_DOCUMENTO', 'DATA_PAGAMENTO', 'DATA_VENCIMENTO']

base_pag[datetime_cols] = base_pag[datetime_cols].apply(pd.to_datetime)

base_pag.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77414 entries, 0 to 77413
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ID_CLIENTE              77414 non-null  int64
 1   SAFRA_REF               77414 non-null  datetime64[ns]
 2   DATA_EMISSAO_DOCUMENTO  77414 non-null  datetime64[ns]
 3   DATA_PAGAMENTO          77414 non-null  datetime64[ns]
 4   DATA_VENCIMENTO         77414 non-null  datetime64[ns]
 5   VALOR_A_PAGAR           76244 non-null  float64
 6   TAXA                    77414 non-null  float64
dtypes: datetime64[ns](4), float64(2), int64(1)
memory usage: 4.1 MB

**4.3 Quantidade de registros**

In [72]:
lin, col = base_pag.shape

print(f'O dataset tem {lin} linhas e {col} colunas.')

O dataset tem 77414 linhas e 7 colunas.

**4.4 Quantidade de registros faltantes**

In [74]:
base_pag.isna().sum()

print('-' * 100)

print((base_pag.isna().mean() * 100).sort_values(ascending=False))

----------------------------------------------------------------------------------------------------
VALOR_A_PAGAR             1.511355
SAFRA_REF                 0.000000
ID_CLIENTE                0.000000
DATA_EMISSAO_DOCUMENTO    0.000000
DATA_PAGAMENTO            0.000000
DATA_VENCIMENTO           0.000000
TAXA                      0.000000
dtype: float64

**4.5 Separação de variáveis**

- Numéricas: VALOR_A_PAGAR, TAXA
- Categóricas: -,
- Temporais: DATA_EMISSAO_DOCUMENTO, DATA_PAGAMENTO, DATA_VENCIMENTO